<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Express a new View..." %>
  </div>
  <%= f.submit "Express this View", class: "btn btn-primary" %>
<% end %>