

<div class="center jumbotron mainAreaHome">
  <h1>Welcome to the EXPRESS</h1>

  <h2>
     Express your views  
  </h2>
  
 
<%= link_to "Sign up now!", '/signIn', class: "btn btn-lg btn-primary signUpBtn" %>
  
</div>





