<header class="navbar navbar-fixed-top navbar-inverse headerBar">
    <div class="container">
      <%= link_to "EXPRESS", '/', class: "appLogo" %>
      <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   '/' %></li>
            <li><%= link_to "Help",   '/help' %></li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
    </div>
  </header>